$primaryColor: #1783d6;
$primaryDark: #0B4467;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App {
  text-align: center;
  background-color: #737274;
  color: white;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: $primaryColor;
  color: #ffffff;
  position: relative;
  border-bottom: solid $primaryDark 2px;

  div {
    display: inline-flex;

    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}

.App-main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.2vmin);
  color: white;
  text-align: center;
  padding: 0 5vw;
  margin-top: 6%;

  .App-button {
    margin: 15px 20px 30px 20px;
    display: inline-block;
    line-height: 120%;
  }
}

.App-footer {
  min-height: 5vh;
  background-color: $primaryColor;
  display: inline-block;
  width: 100%;

  .App-button {
    min-width: 90px;
    margin: 15px 20px 25px 20px;
    float: left;

    &:nth-child(10) {
      margin-right: 5px;
    }
  }
}

.App-about-page {
  position: fixed;
  height: 85vh;
  padding: 5vh;
  top: 0;
  overflow: scroll;
  background-color: #BCBBA9;
  color: #69676A;
  font-size: 2.4vh;

  a {
    color: $primaryColor;
    text-decoration: none;
  }

  .App-button {
    margin: 40px 20px 25px 20px;
  }
}

.App-link {
  color: #61dafb;
}

.App-question {
  width: 100%;
  div:first-child {
    text-align: left;
  }
}

.App-button {
  border: solid $primaryColor 2px;
  background-color: $primaryColor;
  color: #fff;
  box-shadow: 2px 2px 2px $primaryDark;
  min-width: 90px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  border-radius: 2px;
  line-height: 120%;

  &:hover {
    cursor: pointer;
  }
}

.App-button-large {
  padding: 12px 30px;
  font-size: 120%;
  background-color: #2081ca;
}

.App-result-counter {
  border: solid grey 1px;
}

.App-question-missing {
  .Question-text {
    border-left: solid #ffb700 5px;
    padding-left: 5px;
  }

  &.Instruction {
    font-weight: bold;
    border-bottom: solid #ffb700 3px;
    padding-bottom: 7px;
  }
}

#date {
  div {
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;

    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}

.Status-display {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 58vh;
  position: relative;
  font-size: calc(10px + 2vmin);
  line-height: 5vh;

  #date {
    font-size: 350%;
    line-height: 150%;
    position: fixed;
    top: 5%;
  }

  .App-button {
    position: absolute;
    margin: 0;
    bottom: 4vh;
  }
}

.Status-message {
  font-size: 250%;
  color: #9e1905;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  top: 60%;
}

.Status-ok {
  background-color: #097732;
  background-image: url("Images/check-circle-014B1C.svg");
}

.Status-caution {
  background-color: #721f11;
  background-image: url("Images/delete_Circle-X_9E1905.svg");
}
